@import 'default_style.css';

#content {
    min-height: 65vh;
}

.content {
    padding-top: 10rem;
    width: 100%;
    padding-bottom: 5rem;
}

.content table  {
    width: 100%;
}

.content table th {
    text-align: center;
    border: 1px solid #333;
    padding: 10px 5px;
    background-color: #B0C4DE;
    font-size: 0.5rem;
}
.content table td {
    text-align: center;
    border: 1px solid #333;
    padding: 12px 5px;
    font-size: 0.5rem;
    font-family: 'NanumSquare_R';
}

.content table #msg_td {
    text-align: center;
    border: 1px solid #333;
    padding: 100px 10px;
    font-size: 1.2rem;
}

.content table .ban_td td{
    color: var(--bs-danger);
}

@media (min-width: 992px) {

    .content table th {
        text-align: center;
        border: 1px solid #333;
        padding: 20px 10px;
        font-size: 1rem;
        background-color: #B0C4DE;
    }

    .content table td {
        text-align: center;
        border: 1px solid #333;
        padding: 15px 10px;
        font-size: 1rem;
        font-family: 'NanumSquare_R';
    }

}

/* 퀴즈 관리 */

.explanation_td {
    overflow: hidden;   
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px;
}

#quiz_table td img {
    width: 100px;
    height: 100px;
}

/* 설문 관리 */

.page_area {
    margin-top: 20px;
}

.page_area a{
    color: #999;
    text-decoration: none;
    padding: 0px 5px;
    font-size: 1rem;
}

.container .que_option {
    padding: 10px 8px;
    float: right;
    border-radius: 5px;
    margin: 30px 0px 10px 0px;
    text-align: center;
}

.questions_form .btn_area{
    margin: 0 auto;
    margin-top: 20px;
}


.que_add_btn {
    margin-top: 20px;
    width: 100px;
    height: 60px;
    border: 0;
    border-radius: 10px;
    background-color: #212529;
    color: white;
    margin-left: 10px;
}

.que_reset_btn {
    background-color: white;
    color: #212529;
    border: 1px solid #212529;
    margin-left: 10px;
}

.reply_table {
    margin-top: 50px;
}

.reply_table textarea {
    width: 100%;
    height: 250px;
    border: 0;
    outline: none;
    resize: none;
    padding: 15px;
}