@charset "utf-8";

@font-face {
    font-family: 'Katuri';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/Katuri.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'KCC-Ganpan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'MaplestoryOTFBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'NanumSquare_R';
	font-style: normal;
	font-weight: 400;
	src: url('../assets/font/NanumSquareNeo-bRg.ttf');
}

@font-face {
	font-family: 'NanumSquare_B';
	font-style: normal;
	font-weight: 400;
	src: url('../assets/font/NanumSquareNeo-cBd.ttf');
}

@font-face {
	font-family: 'NanumSquare_EB';
	font-style: normal;
	font-weight: 400;
	src: url('../assets/font/NanumSquareNeo-dEb.ttf');
}