@import 'default_style.css';

/**************/
/** 상단 네비 **/
/**************/

#mainNav {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #fff;
    transition: background-color 0.2s ease;
    z-index:900;
}
#mainNav .navbar-brand {
  font-family: 'MaplestoryOTFBold','Katuri','KCC-Ganpan','NanumSquareNeo-Variable';
  font-weight: 700;
  font-size: 2rem;
  color: #212529;
}
#mainNav .navbar-nav .nav-item .nav-link {
  color: #6c757d;
  font-family: 'MaplestoryOTFBold','Katuri','KCC-Ganpan','NanumSquareNeo-Variable';
  font-weight: 400;
  font-size: 1.6rem;
  padding: 0.75rem 0;
  margin-left: 1rem;
}

#mainNav .nav-pills .nav-item .nav-link {
  color: #6c757d;
  font-family: 'MaplestoryOTFBold','Katuri','KCC-Ganpan','NanumSquareNeo-Variable';
  font-size: 1.2rem;
}

#mainNav .navbar-nav .nav-item .nav-link:hover, #mainNav .navbar-nav .nav-item .nav-link:active {
  color: var(--bs-sub_color);
}
#mainNav .navbar-nav .nav-item .nav-link.active {
  color: var(--bs-sub_color) !important;
}

#mainNav .nav-pills .nav-item #create_nav {
  color: white;
}

#mainNav .nav-pills .nav-item #create_nav:hover {
  color: white;
}

@media (min-width: 992px) {
  #mainNav {
    box-shadow: none;
    background-color: transparent;
    z-index:900;
  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255);
  }
  #mainNav .navbar-brand:hover {
    color: rgba(255, 255, 255,0.6);
  }
  #mainNav .navbar-nav .nav-item .nav-link{
    color: rgba(255, 255, 255);
    padding: 0 1rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: rgba(255, 255, 255,0.6);
  }

  #mainNav .nav-pills .nav-item .nav-link{
    color: rgba(255, 255, 255);
  }
  #mainNav .nav-pills .nav-item .nav-link:hover {
    color: rgba(255, 255, 255,0.6);
  }

  #mainNav .nav-pills .nav-item #create_nav {
    background-color: white;
    color: var(--bs-main_color);
    font-weight: 300;
  }
  #mainNav .nav-pills .nav-item #create_nav:hover {
    color: var(--bs-main_color);
  }

  #mainNav .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0;
  }
  #mainNav.navbar-shrink {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-brand:hover {
    color: var(--bs-sub_color);
  }
  #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link {
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link:hover {
    color: var(--bs-sub_color);
  }

  #mainNav.navbar-shrink .nav-pills .nav-item #create_nav {
    background-color: var(--bs-sub_color);
    color: white;
    font-weight: 300;
  }

  #mainNav.navbar-shrink .nav-pills .nav-item .nav-link {
    color: #212529;
  }
  #mainNav.navbar-shrink .nav-pills .nav-item .nav-link:hover {
    color: var(--bs-sub_color);
  }
  
  
}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background: linear-gradient(to bottom, rgba(106, 26, 244 , 1.0) 0%, rgba(106, 26, 244 , 0.7) 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
header.masthead h1, header.masthead .h1 {
  font-size: 2.25rem;
}
header.masthead a.btn{
  background-color: var(--bs-triadic_color);
  color: white;
  font-family: 'MaplestoryOTFBold','NanumSquare_B';
  font-size: 1.6rem;
  border-radius: 100px;
} 
@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
     min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
  }
  header.masthead p {
    color: rgba(33, 37, 41, 0.9);
    line-height: 2.5rem;
    font-size: 1.15rem;
  }
  header.masthead h1, header.masthead .h1 {
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  header.masthead h1, header.masthead .h1 {
    font-size: 3.5rem;
  }
}

/***********/
/** admin **/
/***********/

#mainNav_admin {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #fff;
  transition: background-color 0.2s ease;
}

#mainNav_admin .navbar-brand {
font-family: 'MaplestoryOTFBold';
font-weight: 700;
font-size: 2rem;
color: #212529;
}
#mainNav_admin .navbar-nav .nav-item .nav-link {
color: #6c757d;
font-family: 'NanumSquare_B';
font-weight: 400;
font-size: 1.2rem;
padding: 0.75rem 0;
margin-left: 1rem;
}

#mainNav_admin .nav-pills .nav-item .nav-link {
color: #6c757d;
font-family: 'NanumSquare_B';
font-size: 1rem;
}

#mainNav_admin .navbar-nav .nav-item .nav-link:hover, #mainNav_admin .navbar-nav .nav-item .nav-link:active {
color: var(--bs-sub_color);
}
#mainNav_admin .navbar-nav .nav-item .nav-link.active {
color: var(--bs-sub_color) !important;
}
@media (min-width: 992px) {

#mainNav_admin {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #fff;
}
#mainNav_admin .navbar-brand {
  color: #212529;
}
#mainNav_admin .navbar-brand:hover {
  color: var(--bs-sub_color);
}
#mainNav_admin .navbar-nav .nav-item .nav-link {
  color: #212529;
}
#mainNav_admin .navbar-nav .nav-item .nav-link:hover {
  color: var(--bs-sub_color);
}

#mainNav_admin .nav-pills .nav-item #create_nav {
  background-color: var(--bs-sub_color);
  color: white;
  font-weight: 300;
}
#mainNav_admin .nav-pills .nav-item #create_nav:hover {
  color: var(--bs-sub_color);
}

#mainNav_admin .nav-pills .nav-item .nav-link {
  color: #212529;
}
#mainNav_admin .nav-pills .nav-item .nav-link:hover {
  color: var(--bs-sub_color);
}

}

/**********/
/** 하단 **/
/**********/

#footer {
  height: 35vh;
  min-height: 18rem;
}

#footer #terms{
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

#footer ul li i{
  font-size: 1.5rem;
}

#footer ul li a{
  color: rgba(255, 255, 255, 0.6);
}

#footer ul li a:hover{
  color: rgba(255, 255, 255, 0.9);
}

#footer p,#footer .nav {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.2rem;
}

/**********/
/** 팝업 **/
/**********/

.modal_bg {
  display:none;
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  right:0;
  background: rgba(0, 0, 0, 0.6);
  z-index:999;
}

.modal_wrap {
  display:none;
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  background:#fff;
  z-index:1000;
  border-radius: 10px;
}

.modal_wrap i{
  font-size: 1.5rem;
  float: right;
}

.modal_wrap i:hover{
  color: #6c757d;
}

.modal_wrap .content_type_area{
  display: flex;
  justify-content: center;
  width: 400px;
}

.modal_wrap .content_type_area button{
  padding: 10px 0px;
  border-radius: 20px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.modal_wrap .content_type_area button:hover {
  filter: brightness(0.7);
}

.modal_wrap .content_type_area p {
  color: white;
  font-size: 1.3rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

.modal_wrap .content_type_area i {
  font-size: 3rem !important;
  height: 64px;
}

.modal_wrap .content_type_area i:hover {
  color: white;
}

.modal_wrap .content_type_area img {
  width: 48px;
  filter: invert(100%) sepia(0%) saturate(7427%) hue-rotate(54deg) brightness(103%) contrast(114%);
}

.modal_wrap #quiz_create_btn {
  width: 45%;
  background-color: var(--bs-main_color);
  min-height: 150px;
}

.modal_wrap #survey_create_btn {
  width: 45%;
  background-color: var(--bs-sub_color);
  min-height: 150px;
}

/************************/
/** create 버튼 이벤트 **/
/************************/


.vibration {
  animation: vibration .12s infinite;
}

@keyframes vibration {
  from {
    transform: rotate(3deg);
  }
  to {
    transform: rotate(-3deg);
  }
}
