@import 'default_style.css';

body {
   	height: auto;
    min-height: 100vh;
    background-position: center;
    background-image: linear-gradient(to bottom, rgba(106, 26, 244 , 1.0) 0%, rgba(106, 26, 244 , 0.7) 100%);
    background-repeat: no-repeat;
    background-size: cover;
}

#container {
    min-height: 100vh;
	
}

#content {
    padding-top: 10rem;
    width: 100%;
    padding-bottom: 5rem;
}

/***************/
/** 퀴즈 메인 **/
/***************/

#search_area {
    position: relative;
}

#search_area input{
    width: 100%;
    min-height: 60px;
    padding: 14px 22px;
    border-radius: 50px;
    border-width: 0;
    outline-color: var(--bs-sub_color);
}

#search_area label {
    position: absolute;
    right: 2%;
    width: 15%;
}

#search_area i {
    min-height: 60px;
    background-color: var(--bs-sub_color);
    border-radius: 0px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    color: white;
    font-size: 1.3rem;
    display: flex;         
    justify-content: center;
    align-items: center; 
}

#align_area select{
    min-height: 60px;
    border-radius: 50px;
    padding-right: 26px;
    -webkit-appearance:none; /* for chrome */
    -moz-appearance:none; /*for firefox*/
    appearance:none;
    background:url('../assets/icon/chevron-down.svg') no-repeat 85% 50%/15px auto;
}


/***************/
/** 퀴즈 생성 **/
/***************/

.create_modal_bg {
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    right:0;
    background: rgba(0, 0, 0, 0.6);
    z-index:999;
}

.create_modal_wrap {
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background:#fff;
    z-index:1000;
    border-radius: 10px;
}

.create_modal_wrap .col_split input {
    width: 100%;
    border-radius: 10px;
    min-height: 40px;
    border: 1px solid #212529;
    padding: 8px 10px;
    font-size: 14px;
    font-family: 'NanumSquare_R';
    outline-color: var(--bs-main_color);
}

.create_modal_wrap .col_split textarea {
    border-radius: 10px;
    border: 1px solid #212529;
    padding: 8px 10px;
    font-size: 14px;
    font-family: 'NanumSquare_R';
    resize: none;
    outline-color: var(--bs-main_color);
}

.file_box {
    border: 2px dashed #212529;
    border-radius: 10px;
    padding: 35px 10px;
}

.file_box:hover {
    border: 2px dashed var(--bs-main_color);
    color: var(--bs-main_color);
}

.file_box h4 {
    font-family: 'NanumSquare_B';
    font-size: 18px;
}

.file_box p {
    font-family: 'NanumSquare_R';
    font-size: 12px;
    color: #999;
}

.file_box i {
    font-size: 2.2rem;
}

.file_box_area .image_box {
    overflow:hidden;
    display: none;
    width: 372px;
    height: 185px;
    border-radius: 10px;
    position: relative;
}

.file_box_area .image_box .thumbnail_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.file_box_area .image_box div {
    position: absolute;
    right: 3%;
    bottom: 3%;
    display: flex;         
    justify-content: center;
    align-items: center; 

}

.file_box_area .image_box i {
    display: none;
    border-radius: 50px;
    background-color: white;
    font-size: 0.8rem;
    width: 30px;
    height: 30px;
    padding: 6px;
}

.file_box_area .image_box i:hover {
    background-color: var(--bs-main_color);
    color: white;
}

.content_info_area .error_msg_wrap{
    color: var(--bs-danger);
    font-family: 'NanumSquare_R';
    font-size: 0.9rem;
}

.content_info_area .form-check .form-check-input {
    width: 45px;
    border-radius: 50px;
    min-height: 25px;
    border: 1px solid #999;
    padding: 0px;
}

.content_info_area .form-check .form-check-input:checked{
    background-color: var(--bs-main_color);
}

.content_info_area .form-check .form-check-input:checked:focus {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(106, 26, 244, 0.25)
}

.content_info_area .form-check .form-check-input:focus {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(106, 26, 244, 0.25);
}

.content_info_area .col_split input.btn{
    min-height: 50px;
    font-size: 1rem;
}

.container .quiz_content{
    width: 100%;
    margin: 0 auto;
}

.quiz_content div {
    padding: 0px 10px;
} 

.quiz_content div div {
    height: 200px;
    width: 260px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
} 

.quiz_content .create_quiz_btn {
    
    background-color: rgba(255, 255, 255, 0.08);
    color: #fff;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='white' stroke-width='7' stroke-dasharray='5%2c 18' stroke-dashoffset='11' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 10px;
}

.quiz_content h4 {
    font-family: 'NanumSquare_B';
    font-size: 18px;
}

.quiz_content i {
    font-size: 2.2rem;
}

